{% extends 'main.html' %}

{% block content %}
<div>
    <h2>Login</h2>
    <form method="POST" action="">
        {% csrf_token %}
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Benutzername</label>
              <input type="text" name="user" class="form-control" id="exampleInputEmail1">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Passwort</label>
              <input type="password" name="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-secondary">Login</button>
            <hr>
    </form>
</div>
{% endblock content %}