{% extends "main.html" %}
{% load static %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6 col-lg-4">
    <div class="card shadow-sm mt-5">
      <div class="card-body p-4">

        <div class="text-center mb-3">
          <img src="{% static 'icons/slcDatabase.png' %}" alt="SLC Datenbank" style="height:60px;">
        </div>

        <h1 class="h5 text-center mb-3">Passwort zurücksetzen</h1>

        <p class="text-muted small mb-4 text-center">
          Bitte gib deine E-Mail-Adresse ein. Wenn ein Konto existiert, 
          senden wir dir einen Link zum Zurücksetzen des Passworts.
        </p>

        <form method="post">
        {% csrf_token %}

        <div class="mb-3">
            <label for="id_email" class="form-label">E-Mail-Adresse</label>
            <input 
            type="email" 
            name="email" 
            id="id_email"
            class="form-control"
            required
            >
        </div>

        <button class="btn btn-dark w-100 mt-3">Link anfordern</button>
        </form>

      </div>
    </div>
  </div>
</div>
{% endblock %}
