
<div class="card mb-2 shadow-sm">
  <div class="card-body">

    <h6 class="card-title mb-2">{{ item.varname }} - {{ item.varlab }} </h6>
    {% if show_relevance %}
      <p class="text-muted mb-0 small">
          Relevanz: {{ item.relevance }}
      </p>
    {% endif %}
    

    {# Wellen-Badges #}
    {% if item.waves.all %}
      <div class="mb-2">
        {% for wave in item.waves.all %}
          <span class="badge bg-light text-dark border">
            {{ wave }}
          </span>
        {% endfor %}
      </div>
    {% endif %}

    <div class="d-flex align-items-center gap-2 mt-2"> 
      <div class="btn-group btn-group-sm flex-shrink-0"
          role="group"
          aria-label="Aktionen">
        <a class="btn btn-link px-2 icon-action"
          title="Details anzeigen"
          href="{% url 'variables:variable_detail' item.id %}?back={{ request.get_full_path|urlencode }}"
          target="_blank"
          rel="noopener noreferrer">
          <i class="fa-regular fa-eye"></i>
        </a>

        {% if perms.accounts.can_edit_slc %}
          <a class="btn btn-link px-2 icon-action"
            title="Bearbeiten"
            href="{% url 'variables:variable_edit' item.id %}?back={{ request.get_full_path|urlencode }}"
            target="_blank"
            rel="noopener noreferrer">
            <i class="fa-solid fa-pen-to-square"></i>
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>


