{% extends "main.html" %}

{% block content %}
  <h1>Suchergebnisse</h1>

    <ul>
    {% for q in questions %}
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ q.questiontext }}</h5>
            <p class="card-text">
              {% for w in q.waves.all %}
                <span class="badge bg-secondary">{{ w }}</span>
              {% empty %}
                <em>Keine Welle verknüpft</em>
              {% endfor %}
            </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    {% endfor %}
    </ul>

{% endblock %}