<div class="d-flex flex-wrap align-items-center gap-2 mb-2"
     data-pv-format-toolbar
     data-target="{{ target_id }}"
     aria-label="Text formatieren">
  <div class="btn-group btn-group-sm" role="group" aria-label="Formatierungsoptionen">
    <button type="button" class="btn btn-outline-secondary pv-format-button"
            data-pv-marker="!!" title="Fett (!!Text!!)">
      <strong>B</strong>
    </button>
    <button type="button" class="btn btn-outline-secondary pv-format-button"
            data-pv-marker="**" title="Kursiv (**Text**)">
      <em>I</em>
    </button>
    <button type="button" class="btn btn-outline-secondary pv-format-button"
            data-pv-marker="++" title="Unterstrichen (++Text++)">
      <u>U</u>
    </button>
    <button type="button" class="btn btn-outline-secondary pv-format-button"
            data-pv-marker="##" title="Als Hyperlink darstellen (##Text##)">
      <i class="fa-solid fa-link" aria-hidden="true"></i>
      <span class="visually-hidden">Hyperlinkdarstellung</span>
    </button>
  </div>
</div>
